<template>
	<div>
		<section class="hero is-medium is-primary is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-2">
						Contact
					</h1>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-one-third">
						<div class="box">					
							<h3 class="is-size-4 has-text-weight-medium">
								Email
							</h3>
							<p>
								<a href="mailto:kridospace@gmail.com">kridospace@gmail.com</a>
							</p>
							<h3 class="is-size-4 has-text-weight-medium">
								Twitter
							</h3>
							<p>
								<a href="https://twitter.com/xkrido">@xkrido</a>
							</p>
							<h3 class="is-size-4 has-text-weight-medium">
								Github
							</h3>
							<p>
								<a href="https://github.com/xkrido">github.com/xkrido</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>

export default {
  name: "contact",
};

</script>
