<template>
  <div>
    <div class="hero is-cover is-relative is-fullheight-with-navbar is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Hallo, saya Krido</h1>
                <h2 class="subtitle is-3">Front-End Developer</h2>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "home"
}
</script>

<style>

</style>