<template>
    <div>
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-2">
                        Projects
                    </h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
					<div class="column">
						<div class="box">					
							<h3 class="title is-4 has-text-weight-medium">
								lorem
							</h3>
							<p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat doloribus quidem autem consequuntur aliquid placeat culpa quos cumque consequatur provident, minima enim dolor quasi distinctio eum. Quidem, ipsum ea!
							</p>
                            <button class="button is-medium is-fullwidth is-primary is-light">Lihat</button>
						</div>
					</div>
                </div>
                 <div class="columns">
					<div class="column">
						<div class="box">					
							<h3 class="title is-4 has-text-weight-medium">
								lorem
							</h3>
							<p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat doloribus quidem autem consequuntur aliquid placeat culpa quos cumque consequatur provident, minima enim dolor quasi distinctio eum. Quidem, ipsum ea!
							</p>
                            <button class="button is-medium is-fullwidth is-primary is-light">Lihat</button>
						</div>
					</div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
 export default {
     
 }
</script>

<style>

</style>